@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: #34495e;
  border-radius: 25px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(26, 188, 156, 0.686);
  border-radius: 4px;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #1d2b36;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
body div[alt=call-container] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1abc9c;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
body div[alt=call-container] > table {
  border: none !important;
}

nav[alt="부가기능 탭"] {
  margin-top: 15px;
  width: 100%;
  gap: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
nav[alt="부가기능 탭"] div[alt="a 컨테이너"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav[alt="부가기능 탭"] div[alt="a 컨테이너"] a {
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bolder;
  font-size: medium;
  color: #ffffff;
  text-decoration: none;
}
nav[alt="부가기능 탭"] div[alt="a 컨테이너"] a:hover {
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #1abc9c;
}
nav[alt="부가기능 탭"] .vertical-line {
  border: 0.005px solid darkgray;
  width: 0.5px;
  height: 55px;
}

input {
  font-size: 14px;
  border: 1px solid #7f8c8d;
  background-color: #34495e;
  color: #ffffff;
}

.contact-table-container {
  padding: 15px;
  max-width: 1200px;
  background: #2c3e50;
  border-radius: 15px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-table-container h1 {
  color: #ffffff;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 65%;
  text-align: center;
  border-bottom: 2px solid #1abc9c;
  font-size: 24px;
}
.contact-table-container table {
  width: 100%;
  border-collapse: collapse;
}
.contact-table-container table thead {
  background-color: rgba(11, 12, 12, 0.847);
  color: #ffffff;
}
.contact-table-container table th,
.contact-table-container table td {
  text-align: center;
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #7f8c8d;
}
.contact-table-container table th.th-border,
.contact-table-container table td.th-border {
  border-right: 1px solid #242424;
}
.contact-table-container table th.td-border,
.contact-table-container table td.td-border {
  border-right: 1px solid #ddd;
}
.contact-table-container table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.contact-table-container table tbody tr:hover {
  background-color: #f1f1f1;
}

.add-contact,
.delete-button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.add-contact {
  background-color: #1abc9c;
}
.add-contact:hover {
  background-color: rgba(11, 12, 12, 0.847);
}

.delete-button {
  background-color: rgba(11, 12, 12, 0.847);
}
.delete-button:hover {
  background-color: #c0392b;
}

#globals-container {
  background-color: #1d2b36;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
#globals-container > * {
  margin: 0;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}
main > * {
  gap: 5px;
}

header {
  position: absolute;
  top: 0;
  z-index: 2000;
  background-color: rgba(11, 12, 12, 0.847);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 8%;
  height: 10vh;
  min-height: 70px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15%;
}
header nav {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5%;
}
header nav .vertical-line {
  border: 0.005px solid darkgray;
  height: 55px;
  width: 0.5px;
}