@charset "UTF-8";
/* ✨ 'RWD' - 'Semantic Tags' 설정 ✨ */
/* 💡 '시맨틱 태그' header */
/* ◼️◼️◼️◼️◼️◼️ 헤더 설정 ◼️◼️◼️◼️◼️◼️ */
header {
  /* 임의 설정 */
  background-color: #004c97;
  border: none;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0 !important;
  padding: 0 10%; /* 헤더 좌우 패딩 */
  height: 10vh; /* 헤더 높이 10% (적절히 조정 가능) */
  min-height: 70px;
  width: 100vw; /* 마진 없는 가로 사이즈 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15%; /* 헤더 요소 간격 */
  overflow: hidden;
  /* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
  /* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
}
header * {
  overflow: hidden;
  margin-top: 0;
}
header section[alt="로고 컨테이너"] {
  /* 임의 설정 */
  padding: 1%;
  min-width: 70px;
  width: 200px;
  max-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header section[alt="로고 컨테이너"] * {
  margin: 0;
  padding: 0;
  border: none;
  place-items: center;
}
header section[alt="로고 컨테이너"] *:hover {
  cursor: pointer;
}
header section[alt="로고 컨테이너"] form {
  /* 임의 설정 */
  padding: 0;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}
header section[alt="로고 컨테이너"] form button {
  padding: 0;
  margin-top: 3%;
  margin-left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  place-items: center;
}
header section[alt="로고 컨테이너"] form button img {
  margin: 0;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav {
  /* 임의 설정 */
  margin-top: 10px;
  padding: 0;
  width: 100%; /* 탭 가로 사이즈 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5%;
  /* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
}
header nav div button {
  /* location 이동 없음, show() 스크립트 */
  width: 100%;
  height: 50px;
  place-items: center;
  border: none;
  background: rgba(0, 0, 0, 0);
}
header nav div button:hover {
  cursor: pointer;
}
header nav div span {
  /* 임의 설정 */
  padding-right: 10px;
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 폰트 설정 */
  font-weight: bolder;
  font-size: medium;
  color: white;
}
header nav div span:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2s; /* 부드러운 전환 효과 추가 */
  color: goldenrod;
  font-weight: bolder;
}
header nav .vertical-line {
  border: 0.005px solid darkgray;
  height: 55px;
  width: 0.5px;
}

/* ◽🔸 Main 페이지 (한정) 🔸◽ */
.h-a-container a {
  text-decoration-line: none;
}ration-line: none;
}