@charset "UTF-8";
/* ✨ 'RWD' - 'P04_Monitor' 설정 ✨ */
/* 💡 '반응형 웹' 실시간 모니터링 */
/* article과 aside가 각각 main 공간을 나눔 */
/*
--1 메인 컨텐츠 설정
--2 실시간 로그 영역 설정
--3 부가 기능 탭 & 이상탐지 깜빡임 & 화면 수 조절 (사이드바 A)
--4 팝업 컨테이너
--5 화면 제외 버튼 컨테이너 설정
*/
.vertical-line {
  border: 0.005px solid whitesmoke;
}

/* ◼️◼️◼️◼️◼️◼️ 메인 컨텐츠 설정 ◼️◼️◼️◼️◼️◼️ */
main {
  background-color: gray; /* 메인 배경 설정 */
  /* ◼️◼️◼️◼️◼️◼️ 실시간 로그 영역 설정 (사이드바 B) ◼️◼️◼️◼️◼️◼️ */
  /* 로그 토글 버튼 */
  /* 로그 사이드바 */
  /* ◼️◼️◼️◼️◼️◼️ 부가 기능 탭 & 이상탐지 깜빡임 & 화면 수 조절 (사이드바 A) ◼️◼️◼️◼️◼️◼️ */
}
main .blink-controls {
  margin: 10px 0;
  max-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px; /* 버튼 간 간격 */
}
main label {
  font-size: x-small;
}
main > article[alt="실시간 모니터링 정보&화면 구역"] {
  background-color: gray;
  border-radius: 3px;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  min-width: 80%;
  width: 100%; /* 버튼 토글 시 부모 요소의 너비를 채움 */
  overflow: hidden;
  /* 모니터링 영역 스타일 */
}
main > article[alt="실시간 모니터링 정보&화면 구역"] p {
  font-weight: 600;
  text-align: center; /* 텍스트 중앙 정렬 */
}
main > article[alt="실시간 모니터링 정보&화면 구역"] #M-area {
  background-color: #424242;
  border-radius: 2px;
  padding: 3px;
  height: 75%; /* 부모 요소 높이 채움 */
  width: 99%; /* 부모 요소 너비 채움 */
  display: grid;
  gap: 5px;
  place-items: center; /* 중앙 정렬 */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; /* 부드러운 전환 효과 */
  /* 기본 4열 레이아웃 */
  grid-template-columns: repeat(4, 1fr);
  /* 특정 CAM-container 확장 시 레이아웃 */
}
main > article[alt="실시간 모니터링 정보&화면 구역"] #M-area.modified-layout {
  grid-template-columns: 100%; /* 전체 폭을 하나의 열로 사용 */
}
main > article[alt="실시간 모니터링 정보&화면 구역"] #M-area .CAM-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Border가 요소 크기에 영향을 미치지 않도록 */
  border: 5px solid #4a4a4a;
  border-radius: 2px;
  -webkit-box-shadow: 0 -8px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -8px 6px rgba(0, 0, 0, 0.2);
  background-color: #4a4a4a;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; /* 자식 요소의 위치 제어 */
  overflow: hidden; /* 내부 요소가 컨테이너를 벗어나지 않도록 */
}
main > article[alt="실시간 모니터링 정보&화면 구역"] #M-area .CAM-container.expanded {
  width: 100%; /* 클릭된 컨테이너가 전체 폭을 차지 */
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
main > article[alt="실시간 모니터링 정보&화면 구역"] #M-area .CAM-container img,
main > article[alt="실시간 모니터링 정보&화면 구역"] #M-area .CAM-container video {
  background-color: #4a4a4a;
  border-radius: 1px;
  border: none;
  margin: 0;
  width: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
main > article[alt="실시간 모니터링 정보&화면 구역"] #M-area .CAM-container img:hover,
main > article[alt="실시간 모니터링 정보&화면 구역"] #M-area .CAM-container video:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05); /* 호버 시 약간 확대 */
}
main > article[alt="실시간 모니터링 정보&화면 구역"] #M-area.reset-layout {
  grid-template-columns: repeat(4, 1fr); /* 4열 초기화 */
}
main > article[alt="실시간 모니터링 정보&화면 구역"] footer[alt="저장된 로그 조회 구역-하단바"] {
  /* 임의 설정 */
  background-color: #191919;
  margin: 0;
  padding: 5px;
  margin-left: 5px;
  height: 22.57%;
  max-height: 22.57%;
  width: 90%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 캘린더와 모달을 나란히 정렬 */
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; /* 좌측 정렬 */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; /* 세로 정렬을 위쪽으로 고정 */
  gap: 10px; /* 캘린더와 모달 사이 간격 */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; /* 브라우저 크기가 작아지면 아래로 배치 */
  padding: 10px; /* 추가적인 내부 여백 */
}
main button[alt="로그 토글 버튼"] {
  min-height: 50px;
  min-width: 50px;
}
main > aside {
  background-color: #282828;
  -webkit-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2) inset;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 99%;
  width: auto; /* 기본 너비 */
  overflow-y: auto; /* 스크롤 가능 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; /* 아래에서 위로 쌓임 */
  /* ◽🔹◽🔸◽🔹 nav 🔸◽🔹◽🔸◽ */
}
main > aside .log-toggle {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; /* 버튼이 오른쪽에 정렬 */
}
main > aside .log-toggle > button {
  margin-top: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: large;
  border-radius: 20px; /* 둥근 버튼 */
}
main > aside .log-toggle span {
  font-size: xx-large;
}
main > aside > article {
  width: 100%;
  margin: 0;
}
main > aside > article section {
  background-color: lightgray;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 15px 0;
  padding: 0 15px;
  min-height: 50px;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
main > aside > article section p {
  width: 230px;
}
main > aside > article section span {
  border: none;
}
main > aside nav {
  /* 임의 설정 */
  background-color: #252f15;
  margin-top: 15px;
  margin-left: 0;
  margin-bottom: 60%;
  padding: 0;
  padding-bottom: 10px;
  top: 0;
  width: 100%; /* 탭 가로 사이즈 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}
main > aside nav div button {
  /* location 이동 없음, show() 스크립트 */
  width: 100%;
  height: 50px;
  place-items: center;
  border: none;
  background: rgba(0, 0, 0, 0);
}
main > aside nav div button:hover {
  cursor: pointer;
}
main > aside nav div span {
  /* 임의 설정 */
  padding-right: 10px;
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 폰트 설정 */
  font-weight: bolder;
  font-size: medium;
  color: white;
}
main > aside nav div span:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2s; /* 부드러운 전환 효과 추가 */
  color: goldenrod;
  font-weight: bolder;
}
main > aside nav .vertical-line {
  border: 0.005px solid darkgray;
  height: 0.5px;
  width: 55px;
}
main .aside-A {
  /* 임의 설정 */
  background-color: #191919;
  padding-left: 0;
  padding-right: 0;
  width: 190px;
  overflow: hidden;
  /* 깜빡임 효과를 적용할 클래스 */
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
main .aside-A .blink-effect {
  -webkit-animation: blink 0.5s infinite;
          animation: blink 0.5s infinite; /* 0.5초 주기로 깜빡임 효과 반복 */
}
main .aside-A .blink-controls {
  /* 임의 지정 */
  background-color: chartreuse;
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  white-space: nowrap;
  margin-top: 50px;
  margin-bottom: 350px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .aside-A .blink-controls #blink-control {
  /* 깜빡임 버튼 스타일 */
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
main .aside-A .blink-controls #blink-control:hover {
  background-color: #0056b3; /* 호버 시 더 어두운 파란색으로 변경 */
}
main .aside-A .blink-controls button,
main .aside-A .blink-controls #targetId {
  padding: 0;
  min-width: 30px;
  min-height: 30px;
  height: 50px;
  width: 110px;
  overflow: hidden;
}
main .aside-A .blink-controls button:hover,
main .aside-A .blink-controls #targetId:hover {
  cursor: pointer;
}

/* ◼️◼️◼️◼️◼️◼️ 팝업 컨테이너 ◼️◼️◼️◼️◼️◼️ */
.popup {
  background-color: #262626; /* 배경색 강제 적용 */
  color: #fff; /* 텍스트 색상 강제 적용 */
  border: 1px solid #ccc;
  padding: 20px;
  min-height: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 400px;
  width: 350px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: fixed;
  top: -100%; /* 화면 위쪽에 숨겨둠 */
  left: 47%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%); /* 화면 밖 위쪽에 숨김 */
  text-align: center;
  z-index: 1200;
}
.popup > button {
  margin-bottom: 15px;
  background-color: #4b4b4b;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  color: #ccc;
  font-size: 17px;
}
.popup > button:hover {
  -webkit-box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.popup .popup-content_container {
  /* 임의 설정 */
  padding-top: 3%;
  text-align: center;
  border-radius: 15px;
  height: 33px;
}
.popup .popup-content_container > article {
  /* 임의 설정 */
  background-color: #4a4a4a;
}

/* ◽🔸 Main 페이지 (한정) 🔸◽ */
.h-a-container a {
  text-decoration-line: none;
}

#on-the-case {
  margin-left: 20px;
  width: 180px;
  display: inline-block;
  white-space: nowrap;
}

/* ◼️◼️◼️◼️◼️◼️ 화면 제외 버튼 컨테이너 설정 ◼️◼️◼️◼️◼️◼️ */
top-bar[alt="화면 수 조절 바"] {
  /* 초기 상태: 투명도 유지 */
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; /* 부드러운 전환 효과 */
  border-radius: 3px;
  min-height: 9vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 25vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  /* 화면 상단 고정 */
  position: fixed;
  top: 0vh;
  right: 0vh;
  margin-right: 0;
  color: white; /* 텍스트 색상 */
  padding: 10px 20px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease, opacity 0.5s ease;
  transition: background-color 0.3s ease, opacity 0.5s ease;
  z-index: 1000;
  /* hover 시 투명도 증가 */
  /* 화면 수 조절 버튼 컨테이너 */
}
top-bar[alt="화면 수 조절 바"]:hover, top-bar[alt="화면 수 조절 바"].hover-effect {
  opacity: 1; /* 투명도 해제 */
  background-color: rgba(0, 0, 0, 0.8); /* hover 시 불투명하게 */
}
top-bar[alt="화면 수 조절 바"]:hover div[alt="화면 수 조절 컨테이너"], top-bar[alt="화면 수 조절 바"].hover-effect div[alt="화면 수 조절 컨테이너"] {
  opacity: 1; /* hover 시 내부 컨테이너 표시 */
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
top-bar[alt="화면 수 조절 바"] section[alt="화면 수 조절 버튼"] {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* 버튼 스타일 */
}
top-bar[alt="화면 수 조절 바"] section[alt="화면 수 조절 버튼"] button {
  background-color: rgba(218, 165, 32, 0.3); /* 기본 버튼 투명도 */
  margin-top: 0.5vh;
  margin-bottom: 0;
  /* 기본 버튼 투명도 */
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
top-bar[alt="화면 수 조절 바"] section[alt="화면 수 조절 버튼"] button:hover {
  background-color: rgba(250, 200, 100, 0.7); /* hover 시 버튼 불투명도 증가 */
}
top-bar[alt="화면 수 조절 바"] section[alt="화면 수 조절 버튼"] button[alt="화면 제외 실행"] {
  background-color: rgba(255, 255, 255, 0.3); /* 기본 버튼 투명도 */
}
top-bar[alt="화면 수 조절 바"] section[alt="화면 수 조절 버튼"] button[alt="화면 제외 실행"]:hover {
  background-color: rgba(255, 255, 255, 0.7); /* hover 시 버튼 불투명도 증가 */
}
top-bar[alt="화면 수 조절 바"]:hover table div[alt="화면 수 조절 컨테이너"] {
  opacity: 1; /* hover 시 화면 수 조절 컨테이너 표시 */
}