@charset "UTF-8";
body {
  font-family: "Arial", sans-serif;
  background-color: #1d2b36;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body div[alt=mod-container] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  background: #2c3e50;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
body * {
  /* Scrollbar Styling */
}
body * ::-webkit-scrollbar {
  width: 8px;
  background-color: #34495e;
  border-radius: 25px;
}
body * ::-webkit-scrollbar-thumb {
  background-color: rgba(26, 188, 156, 0.6862745098);
  border-radius: 4px;
}
body nav[alt="부가기능 탭"] {
  /* 임의 설정 */
  margin-top: 15px;
  margin-left: 0;
  padding: 0;
  padding-bottom: 0;
  top: 0;
  width: 100%; /* 탭 가로 사이즈 */
  gap: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
body nav[alt="부가기능 탭"] div[alt="a 컨테이너"] {
  /* 임의 설정 */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav[alt="부가기능 탭"] div[alt="a 컨테이너"] a {
  width: 100%;
  height: 5px;
  place-items: center;
  border: none;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  padding-right: 10px;
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 폰트 설정 */
  font-weight: bolder;
  font-size: medium;
  color: white;
}
body nav[alt="부가기능 탭"] div[alt="a 컨테이너"] a:hover {
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; /* 부드러운 전환 효과 추가 */
  color: #2ae7c1;
  font-weight: bolder;
}
body nav[alt="부가기능 탭"] .vertical-line {
  border: 0.005px solid darkgray;
  width: 0.5px;
  height: 55px;
}
body input {
  font-size: 14px;
  border: 1px solid #7f8c8d;
  background-color: #34495e;
  color: white;
}

main[alt="정보 등록 수정 컨테이너"] {
  /* 임의 설정 */
  background-color: #2c3e50;
  -webkit-box-shadow: 0 -8px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -8px 6px rgba(0, 0, 0, 0.2);
  border-left: 2px solid #1abc9c;
  border-right: 2px solid #1abc9c;
  padding: 1.2% 4%;
  max-width: 70%;
  width: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 패딩 포함 크기 계산 */
  gap: 5%;
  overflow: hidden;
  /* 관리자 및 일반 사용자 선택 디자인 */
}
main[alt="정보 등록 수정 컨테이너"] h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom: 2px solid #1abc9c;
  padding-bottom: 10px;
}
main[alt="정보 등록 수정 컨테이너"] .form-group {
  margin-bottom: 20px;
}
main[alt="정보 등록 수정 컨테이너"] label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: whitesmoke;
}
main[alt="정보 등록 수정 컨테이너"] input,
main[alt="정보 등록 수정 컨테이너"] select {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main[alt="정보 등록 수정 컨테이너"] input:focus,
main[alt="정보 등록 수정 컨테이너"] select:focus {
  border-color: #333;
  outline: none;
}
main[alt="정보 등록 수정 컨테이너"] .form-group span {
  font-size: 12px;
  color: goldenrod;
  margin-top: 5px;
  display: block;
}
main[alt="정보 등록 수정 컨테이너"] button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: rgba(11, 12, 12, 0.8470588235);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
main[alt="정보 등록 수정 컨테이너"] button:hover {
  background-color: #1abc9c;
}
main[alt="정보 등록 수정 컨테이너"] div[alt="프로토콜 자료 등록 버튼 컨테이너"] {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2열 */
  grid-template-rows: 1fr; /* 1행 */
  gap: 1px; /* 항목 간 간격 */
}
main[alt="정보 등록 수정 컨테이너"] div[alt="프로토콜 자료 등록 버튼 컨테이너"] #previewButton,
main[alt="정보 등록 수정 컨테이너"] div[alt="프로토콜 자료 등록 버튼 컨테이너"] #addEmergencyButton {
  width: 100%;
}
main[alt="정보 등록 수정 컨테이너"] #idCheckButton {
  width: 45%;
  margin-left: 54%;
}
main[alt="정보 등록 수정 컨테이너"] .role-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}
main[alt="정보 등록 수정 컨테이너"] .role-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: #a4a1a1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main[alt="정보 등록 수정 컨테이너"] input[type=radio] {
  display: none;
}
main[alt="정보 등록 수정 컨테이너"] input[type=radio]:checked + .role-option {
  background-color: #1abc9c;
  color: whitesmoke;
  font-weight: bold;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
main[alt="정보 등록 수정 컨테이너"] footer {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
  color: whitesmoke;
}
main[alt="정보 등록 수정 컨테이너"] footer a {
  color: #1abc9c;
  text-decoration: none;
}
main[alt="정보 등록 수정 컨테이너"] footer a:hover {
  text-decoration: underline;
}

.mod-container {
  background: #34495e;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 25px 0;
  padding: 30px 25px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#emergencyListContainer {
  background-color: #1d2b36;
  border-radius: 10px;
  padding: 2%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#emergencyListContainer h3 {
  color: white;
  text-align: center;
  width: 90%;
  margin-bottom: 12px;
  font-size: 20px;
  border-bottom: 1.5px solid #1abc9c;
  padding-bottom: 10px;
}
#emergencyListContainer table {
  width: 80%;
  border: 1px solid whitesmoke;
  border-radius: 3px;
}
#emergencyListContainer th {
  background-color: #1d2b36;
  height: 25px;
  padding: 5px 0px;
  font-size: medium;
}
#emergencyListContainer tr,
#emergencyListContainer td {
  background-color: #34495e;
  padding: 5px;
  height: 20px;
  font-size: small;
}
#emergencyListContainer table,
#emergencyListContainer th,
#emergencyListContainer tr,
#emergencyListContainer td {
  border-radius: 3px;
  color: whitesmoke;
}

/* 💡 '반응형 웹' globals  */
/* ✨ 'RWD' - '전역 컨테이너' 설정 ✨ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* ◽🔹 최상위 부모 요소 🔹◽ */
  /* ◽🔸 첫째 자식 요소 🔸◽ */
  /* ◽🔸◽🔹◽🔸◽🔹◽🔸◽🔹◽🔸◽🔹◽🔸◽ */
  /* ◽🔸◽🔹◽🔸◽🔹◽🔸◽🔹◽🔸◽🔹◽🔸◽ */
  /* ✨ 'RWD' - 'Semantic Tags' 설정 ✨ */
  /* 💡 '시맨틱 태그' header */
  /* ◼️◼️◼️◼️◼️◼️ 헤더 설정 ◼️◼️◼️◼️◼️◼️ */
  /* ◽🔸 Main 페이지 (한정) 🔸◽ */
}
* html,
* body {
  margin: 0 !important; /* 여백 제거 */
  padding: 0 !important;
  height: 100%; /* 전체 브라우저 높이 */
  display: flexbox; /* 자식 요소 top,left 사용 가능하게 */
  place-items: center; /* 수평과 수직 중앙 정렬 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 임의 설정 */
}
* html *,
* body * {
  /* 임의 설정 */
  margin: 5px;
}
* #globals-container {
  /* 임의 설정 */
  background-color: #1d2b36; /* 배경색 기본 */
  margin: 0; /* 여백 제거 */
  padding: 0px;
  height: 100vh; /* 뷰포트 전체 높이 */
  width: 100vw; /* 뷰포트 전체 너비 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* 위아래로 쌓이는 구조 */
  position: absolute;
  top: 0; /* 부모의 상단에 붙임 */
  left: 0; /* 부모의 왼쪽에 붙임 */
}
* #globals-container > * {
  margin: 0;
}
* main {
  /* 임의 설정 */
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; /* 요소가 한 줄에 고정되도록 설정 */
  overflow: hidden; /* 스크롤 없이 화면 고정 */
}
* main > * {
  gap: 5px;
}
* input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
* header {
  /* 임의 설정 */
  background-color: rgba(11, 12, 12, 0.8470588235);
  border: none;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0 !important;
  padding: 0 8%; /* 헤더 좌우 패딩 */
  height: 10vh; /* 헤더 높이 10% (적절히 조정 가능) */
  min-height: 70px;
  width: 100vw; /* 마진 없는 가로 사이즈 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15%; /* 헤더 요소 간격 */
  overflow: hidden;
  /* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
  /* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
}
* header * {
  overflow: hidden;
  margin-top: 0;
}
* header section[alt="로고 컨테이너"] {
  /* 임의 설정 */
  padding: 1%;
  min-width: 70px;
  width: 200px;
  max-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
* header section[alt="로고 컨테이너"] * {
  margin: 0;
  padding: 0;
  border: none;
  place-items: center;
}
* header section[alt="로고 컨테이너"] *:hover {
  cursor: pointer;
}
* header section[alt="로고 컨테이너"] form {
  /* 임의 설정 */
  padding: 0;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}
* header section[alt="로고 컨테이너"] form button {
  padding: 0;
  margin-top: 3%;
  margin-left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  place-items: center;
}
* header section[alt="로고 컨테이너"] form button img {
  margin: 0;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}
* header nav {
  /* 임의 설정 */
  margin-top: 10px;
  padding: 0;
  width: 100%; /* 탭 가로 사이즈 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5%;
  /* ◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️◼️ */
}
* header nav div button {
  /* location 이동 없음, show() 스크립트 */
  width: 100%;
  height: 50px;
  place-items: center;
  border: none;
  background: rgba(0, 0, 0, 0);
}
* header nav div button:hover {
  cursor: pointer;
}
* header nav div span {
  /* 임의 설정 */
  padding-right: 10px;
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 폰트 설정 */
  font-weight: bolder;
  font-size: medium;
  color: white;
}
* header nav div span:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2s; /* 부드러운 전환 효과 추가 */
  color: #1abc9c;
  font-weight: bolder;
}
* header nav .vertical-line {
  border: 0.005px solid darkgray;
  height: 55px;
  width: 0.5px;
}
* .h-a-container a {
  text-decoration-line: none;
}