/* ✨ 'RWD' - '전역 컨테이너' 설정 ✨ */
/* 💡 '반응형 웹' globals  */

* {
  box-sizing: border-box;
}

/* ◽🔹 최상위 부모 요소 🔹◽ */
html,
body {
  margin: 0 !important; /* 여백 제거 */
  padding: 0 !important;

  height: 100%; /* 전체 브라우저 높이 */
  display: flexbox; /* 자식 요소 top,left 사용 가능하게 */
  place-items: center; /* 수평과 수직 중앙 정렬 */
  justify-content: center;

  /* 임의 설정 */
  background-color: lightyellow;
  * {
    /* 임의 설정 */
    // border: 1px solid black;
    // 'body내부 모든 요소'
    margin: 5px;
  }
}

/* ◽🔸 첫째 자식 요소 🔸◽ */
#globals-container {
  /* 임의 설정 */
  // background-color: aliceblue;
  // border: 0.3px solid lightsalmon;
  //"전역 컨테이너"
  // background-color: whitesmoke; /* 배경색 기본 */
  background-color: #1d2b36; /* 배경색 기본 */
  margin: 0; /* 여백 제거 */
  padding: 0px;
  height: 100vh; /* 뷰포트 전체 높이 */
  width: 100vw; /* 뷰포트 전체 너비 */
  display: flex;
  flex-direction: column; /* 위아래로 쌓이는 구조 */
  position: absolute;
  top: 0; /* 부모의 상단에 붙임 */
  left: 0; /* 부모의 왼쪽에 붙임 */
  // height: 99.89vh; /* vh:뷰포트height(스크롤바 없는 최대치 임의 설정) */

  > * {
    margin: 0;
  }
}

/* ◽🔸◽🔹◽🔸◽🔹◽🔸◽🔹◽🔸◽🔹◽🔸◽ */

main {
  /* 임의 설정 */
  // background-color: cadetblue;
  //"메인콘텐츠"
  height: 100vh;
  display: flex;
  flex-wrap: nowrap; /* 요소가 한 줄에 고정되도록 설정 */
  overflow: hidden; /* 스크롤 없이 화면 고정 */

  > * {
    //'main의 모든 자식요소'
    gap: 5px;
  }
}

/* ◽🔸◽🔹◽🔸◽🔹◽🔸◽🔹◽🔸◽🔹◽🔸◽ */

input {
  //'메인 내 인풋'
  width: 100%; // 입력 필드 너비
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
