<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P05_비상연락망</title>
    <!-- 지역 style -->
    <link
      rel="stylesheet"
      href="/src/main/resources/static/style/P05_EEIF.css"
    />
    <link
      rel="stylesheet"
      href="/src/main/resources/static/style/P04_Monitor.css"
    />
    <!-- 전역 style -->
    <link
      rel="stylesheet"
      href="/src/main/resources/static/style/globals.css"
    />
    <link rel="stylesheet" href="/src/main/resources/static/style/header.css" />
  </head>
  <body>
    <!-- View -->
    <div alt="전역 컨테이너" id="globals-container">
      <!-- header -->
      <header alt="헤더">
        <!-- 로그인된 기업명 표시 (h태그 초반 숨김 설정) -->
        <!-- <div alt="로그인 기업명 표시 컨테이너">
          <h1 alt="자사 서비스명">씨See콜Call</h1>
          <h1 alt="로그인 기업명">전국양배추운송연합</h1>
        </div> -->
        <!-- 부가기능 탭 -->
        <nav alt="부가기능 탭">
          <div alt="a 컨테이너">
            <a href="#">CCTV모니터</a>
          </div>
          <div class="vertical-line"></div>
          <div alt="a 컨테이너">
            <a href="#">프로토콜</a>
          </div>
          <div class="vertical-line"></div>

          <div alt="a 컨테이너">
            <a href="#">안전수칙</a>
          </div>
          <div class="vertical-line"></div>

          <div alt="a 컨테이너">
            <a href="#">내 정보</a>
          </div>
        </nav>
      </header>

      <main alt="연락망 프로필 컨테이너">
        <!-- <button class="prev">Prev</button> -->
        <!-- <div class="slide"> -->

        <!-- 연락처 1 -->
        <article alt="연락망 프로필">
          <div alt="연락망 사진">
            <img src="/src/main/resources/static/imgs/c6.jpg" alt="땡칠.png" />
          </div>
          <div alt="연락망 정보">
            <section alt="정보1"><h3>담당자 성명</h3></section>
            <section alt="정보2">
              <p>부서<span>•</span>직책</p>
            </section>
            <section alt="정보3">
              <ul>
                <li>연락처</li>
                <li>근무시간</li>
                <li>근무위치</li>
              </ul>
            </section>
          </div>
        </article>

        <!-- 💛 이하 '정렬 확인용' 예시 -> 반복문 로직 작성 후에는 삭제하시면 됩니다! 💛 -->
        <!-- 연락처 2~5 -->
        <article alt="연락망 프로필">
          <div alt="연락망 사진">
            <img src="/src/main/resources/static/imgs/c13.jpg" alt="길동.png" />
          </div>
          <div alt="연락망 정보">
            <section alt="정보1"><h3>담당자 성명</h3></section>
            <section alt="정보2">
              <p>부서<span>•</span>직책</p>
            </section>
            <section alt="정보3">
              <ul>
                <li>연락처</li>
                <li>근무시간</li>
                <li>근무위치</li>
              </ul>
            </section>
          </div>
        </article>

        <article alt="연락망 프로필">
          <div alt="연락망 사진">
            <img src="/src/main/resources/static/imgs/c7.jpg" alt="명숙.png" />
          </div>
          <div alt="연락망 정보">
            <section alt="정보1"><h3>담당자 성명</h3></section>
            <section alt="정보2">
              <p>부서<span>•</span>직책</p>
            </section>
            <section alt="정보3">
              <ul>
                <li>연락처</li>
                <li>근무시간</li>
                <li>근무위치</li>
              </ul>
            </section>
          </div>
        </article>

        <article alt="연락망 프로필">
          <div alt="연락망 사진">
            <img src="/src/main/resources/static/imgs/c16.jpg" alt="오리.png" />
          </div>
          <div alt="연락망 정보">
            <section alt="정보1"><h3>담당자 성명</h3></section>
            <section alt="정보2">
              <p>부서<span>•</span>직책</p>
            </section>
            <section alt="정보3">
              <ul>
                <li>연락처</li>
                <li>근무시간</li>
                <li>근무위치</li>
              </ul>
            </section>
          </div>
        </article>

        <article alt="연락망 프로필">
          <div alt="연락망 사진">
            <img src="/src/main/resources/static/imgs/c11.jpg" alt="기차.png" />
          </div>
          <div alt="연락망 정보">
            <section alt="정보1"><h3>담당자 성명</h3></section>
            <section alt="정보2">
              <p>부서<span>•</span>직책</p>
            </section>
            <section alt="정보3">
              <ul>
                <li>연락처</li>
                <li>근무시간</li>
                <li>근무위치</li>
              </ul>
            </section>
          </div>
        </article>

        <!-- </div> -->
        <!-- <button class="next">Next</button> -->
      </main>
    </div>

    <!-- jQuery -->
    <script src="/src/main/resources/static/js/jquery-3.6.0.js"></script>
    <!-- scripts -->
    <!-- <script src="/src/main/resources/static/js/P05_EEIF.js"></script> -->
  </body>
</html>
